:root {
  --white: white;
  --black: black;


  /* NOTICES */
  --notice-info-background:#99ffaf;
  --notice-warning-background:#fff2aa;
  --notice-error-background: #db3939;
  --notice-light-box-shadow: black;
  --notice-light-text-shadow: #ececec;
  --notice-dark-box-shadow: black;
  --notice-dark-text-shadow: black;
  --close-button-background: #e8e8e8;
}
